@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --padding-container: 100px 0;
    --color-title: #001A49;
}
*{  margin:0;
    padding:0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    min-height: 1100px;/*esta linea es una prueba de las medidas de vista, la linea anterior era min-height: 1100px;*/
    min-width: 500px;/*esta linea es una prueba de las medidas de vista, la linea anterior era  min-width: 500px;*/
    /*align-items: center;*/
    justify-content: center;
}
body {
    font-family: 'Poppins', sans-serif;
}

.contenedor{
    width: 100%;
    /*height: 100%; esta linea parece no ser necesaria*/
    align-items: center;
    box-sizing: border-box;
}
.nav_container {
    position: sticky;
    min-width: 500px;
    top: 0;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    z-index: 3;
    padding: 20px 0px;
    height: 60px;
    display: flex;
    align-items: right;
    background: #35107af4;
    box-shadow: 0px 5px 7px rgb(46, 46, 63,0.6);
    transition: height 450ms, padding 0.45s, background 0.3s;
    transition-delay: ease-out;
}
.opuesto{
    position: sticky;
    min-width: 500px;
    top: 0;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    z-index: 3;
    padding: 30px 0px;
    height: 80px;
    display: flex;
    align-items: right;
    background: #fff;
    box-shadow: none;
    transition: height 450ms, padding 0.45s, background 0.3s;
    transition-delay: ease-out;
}

.hero {
    width: 100%;
    min-width: 500px;
    height: 80vh;
    display: grid;
    grid-template-rows: 85px 1fr;
    color: rgb(223, 216, 216);
    z-index: -2;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 500px;
    height: 100%;
    align-content: center;
    background-image: linear-gradient(180deg, #6a4f4f8c 50%, #26242b61 100%), url('../img/ambientum.png');
    background-size: cover;
    z-index: -1;
}

.hero__container{
    background-color: rgb(61, 32, 141);
    color: #fff;
    width: 100%;
}
.icono{
    display: none;
}
/*estilos mapa*/
.mapa{
    left: -852px;
    top: 50px;
    position: fixed;
    width: 55%;
    height: 70vh;
    padding: 20px 20px 20px 20px;
    background: rgba(94, 90, 90, 0.842);
    border: rgb(149, 146, 146) solid 1px;
    margin: 50px auto;
    z-index: 3;
    border-radius: 15px;
    transition: transform 850ms;
    transition-delay: ease-out;
}
.ubicacion{
    width:100%; 
    height:98%; 
    border:0;
    border-radius: 10px;
}

.cerrar{
    display: block;
    width: 35px;
    position: relative;
}
/*whatsapp*/
.btn-wsp{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-decoration: none;
    bottom: 30px;
    right: 30px;
    background-color: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.7);
    z-index: 10;
}
.btn-wsp:hover{
    text-decoration: none;
    color: #0df053;
    background-color: #fff;
}

/* Nav */
.nav__title {
    font-weight: 700;
}

.nav__link {
    margin: 0px auto 0px ;
    padding: 0px 150px;
    align-items: center;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 4em;
}

.nav__items {
    list-style: none;
    width: 100%;
}

.nav__links {
    color: #000;
    text-decoration: none;
    font-size: 1em;
}
.nav__links_opuesto{
    color: #fff;
    text-decoration: none;
    font-size: 1em;
}
.active{
    color: rgb(130, 124, 147);
}
.nav__menu {
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav__img {
    display: block;
    width: 40px;
    color: #fff;
}

.nav__close {
    display: var(--show, none);
}
/*location button*/
section >div{
    font-weight: 400;
    font-size: 1.2rem;
    background: #fff;
    color: #000;
}

.ubidots{
    position: relative;
    padding: 12px 13px 12px 40px;
    width: 300px;   
    margin: 20px auto 20px;
    background-color: #fff;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;
    box-shadow: 8px 10px 10px #0006;
    z-index: 4;
    display: flex;
    align-items: center;
    background-color: #ffffff5a;
}

.location{
    position: relative;
    padding: 12px 13px 12px 40px;
    width: 300px;   
    margin: 20px auto 20px;
    background-color: #fff;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;
    box-shadow: 8px 10px 10px #0006;
    z-index: 4;
}

.location-hiden{
    display: none;
}

.location {
    display: flex;
    align-items: center;
}
.location:hover{
    background-color: #ffffff5a;
}
section>div>p{
    margin-left: 20px;
}

section>div>img{
    margin-left: auto;
    text-align: right;
    width: 35px;
    color: rgb(224, 16, 16);
}
.container1>iframe{
    display: block;
}
.hero__sombra{
    z-index: 0;
}
.sombra{
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    min-height: 1200px;/*esto es para limitar el alto de la sombra a un alto mínimo, con este atributo igual se puede controlar el alto del bosy y html*/
    z-index: -3;
    background: #101826cd;
    opacity: 0;
}
.abajo{
    z-index: 1;
}
.animado{
    opacity: 1;
    transition: all 0.8s;
    z-index: 3;
}

.no_animado{
    opacity: 0;
    transition: all 0.8s;
}

/* Hero container */
.hero__container {
    width: 100%;
    min-width: 500px;
    --padding-container: 0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-top:50px;
    padding-bottom: 40px;
    text-align: center;
    z-index: 2;
    position: relative;
}

header{
    box-shadow: 0px 8px 10px rgb(56, 56, 63) inset;
}
.hero__title {
    font-size: 2rem;
    /*color: rgb(131, 217, 225);*/
    color: #b1acb7;
}

.hero__paragraph {
    margin-bottom: 10px;
    display: none;
}
.card_container{
    width: 100%;
}
/*seccion de info de contacto*/
.hero__contacto{
    background-color: rgb(75, 48, 150);
    color: #fff;
    width: 100%;
    min-height: 30%;
    min-width: 500px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-template-areas: 
    "logo"
    "smedia smedia"
    "patrocinios patrocinios"
    "direccion direccion";   
    grid-gap: 15px;
    align-content: center;
    gap: 1em;
    padding:40px 15px 20px 18px;
    text-align: center;
    z-index: 2;
    position: relative;
    box-sizing: border-box;
}

.direccion{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas: 
    "esp_dir"
    "dir";
}

.direccion>p{
    font-size: 15px;
    color: #b8aed0;
    text-align:center;
}

.logo{
    background-color: rgb(75, 48, 150);
    padding: 0;
    margin: 0;
}

.hero__logo{
    font-size: 1.7rem;
    color: #d1c3e3;
}
.patrocinios{
    background-color: rgb(75, 48, 150);
}
.smedia{
    background-color: rgb(75, 48, 150);
    font-size: 30px;
    color: #b8aed0;
    margin: 0px auto 0px ;
    padding: 0px 15px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns:auto;
    gap: 1em;
}

.smedia>a{
    -webkit-text-fill-color: #b8aed0;
}

.correo{
    font-size: 18px;
    text-align: center;
}

.direccion{
    background-color: rgb(75, 48, 150);
}

.logo__img{
    width: 100%;
    height: 100%;
}
/* Container1*/
.container1{
    position: relative;
    padding: 6%;
    min-width: 350px;
    max-width: 800px;
    margin: auto;
    height: 75%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: 
    "box1 box2";
    grid-gap: 10%;
    align-items: center;
    box-sizing: border-box;
}

.card_container,.box1,.box2{
    --opacidad-negro: 0.1;
    background: linear-gradient(rgba(0, 20, 20, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro)));
}

.title__card{
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(55, 76, 167);
    align-items: center;
    line-height: 1.4;
}

.box1>p{
    font-size: 1.2em;
    text-align: justify;
    line-height: 1.8;
    padding-top: 10%;
}

.box1{
    background-color: #fff;
    grid-area: box1;
    align-items: center;
}

.box2{
    background-color:#fff;
    grid-area: box2;
    align-items: center;
}

.box2>img{
    width: 100%;
    margin: 0 auto;
    position: relative;
    box-shadow: 2px 0px 10px rgb(128, 128, 141);
}


/* About */

.about {
    text-align: center;
}

.subtitle {
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;
}


.about__paragraph {
    line-height: 1.7;
}

.about__main {
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}


.about__icons {
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: 0 auto;
}

.about__icon {
    width: 40px;
}

/* Knowledge */

.knowledge {
    background-color: #e5e5f7;
    background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    overflow: hidden;
}

.knowledge__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;
}

.knowledge__picture{
    max-width: 500px;
}

.knowledge__paragraph{
    line-height: 1.7;
    margin-bottom: 15px;
}

.knowledge__img{
    width: 100%;
    display: block;
}

/* price */

.price{
    text-align: center;
}

.price__table{
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
    justify-content: space-evenly;
    align-items: center;
}

.price__element{
    background-color: #e5e5f7;
    text-align: center;
    border-radius: 10px;
    width: 330px;
    padding: 40px;
    --color-plan: #696871;
    --color-price: #1D293F;
    --bg-cta: #fff;
    --color-cta: #5454D4;
    --color-items: #696871;
}

.price__element--best{
    width: 370px;
    padding: 60px 40px;
    background-color: #FF7143;
    --color-plan: rgb(255 255 255 / 75%);
    --color-price: #fff;
    --bg-cta: #9F3919;
    --color-cta: #FFF;
    --color-items: #fff;
}


.price__name{
    color: var(--color-plan);
    margin-bottom: 15px;
    font-weight: 300;
}

.price__price{
    font-size: 2.5rem;
    color: var(--color-price);
}

.price__items{
    margin-top: 35px;
    display: grid;
    gap: 1em;
    font-weight: 300;
    font-size: 1.2rem;
    margin-bottom: 50px;
    color: var(--color-items);
}

.price__cta{
    display: block;
    padding: 20px 0;
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--bg-cta);
    font-weight: 600;
    color: var(--color-cta);
    box-shadow: 0 0 1px rgba(0, 0, 0, .5);
}

/* Testimony */

.testimony{
    background-color: #e5e5f7;
}

.testimony__container{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 1em;
    align-items: center;
}

.testimony__body{
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
}


.testimony__body--show{
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.testimony__img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 30%;
}

.testimony__texts{
    max-width: 700px;
}

.testimony__course{
    background-color: royalblue;
    color: #fff;
    display: inline-block;
    padding: 5px;
}

.testimony__arrow{
    width: 90%;
    cursor: pointer;
}

/* Questions */

.questions{
    text-align: center;
}

.questions__container{
    display: grid;
    gap: 2em;
    padding-top: 50px;
    padding-bottom: 100px;
}

.questions__padding{
    padding: 0;
    transition: padding .3s;
    border: 1px solid #5454D4;
    border-radius: 6px;
}

.questions__padding--add{
    padding-bottom: 30px;
}

.questions__answer{
    padding: 0 30px 0;
    overflow: hidden;
}

.questions__title{
    text-align: left;
    display: flex;
    font-size: 20px;
    padding: 30px 0 30px;
    cursor: pointer;
    color: var(--color-title);
    justify-content: space-between;
}

.questions__arrow{
    border-radius: 50%;
    background-color: var(--color-title);
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-left: 10px;
    transition:  transform .3s;
}

.questions__arrow--rotate{
    transform: rotate(180deg);
}

.questions__show{
    text-align: left;
    height: 0;
    transition: height .3s;
}

.questions__img{
    display: block;
}

.questions__copy{
    width: 60%;
    margin: 0 auto;
    margin-bottom: 30px;
}

/* Footer */

.footer{
    background-color: #1D293F;
}

.footer__title{
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 30px;
}

.footer__title, .footer__newsletter{
    color: #fff;
}


.footer__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 60px;
}

.nav--footer{
    padding-bottom: 20px;
    display: grid;
    gap: 1em;
    grid-auto-flow: row;
    height: 100%;
}

.nav__link--footer{
    display: flex;
    margin: 0;
    margin-right: 20px;
    flex-wrap: wrap;
}

.footer__inputs{
    margin-top: 10px;
    display: flex;
    overflow: hidden;
}

.footer__input{
    background-color: #fff;
    height: 50px;
    display: block;
    padding-left: 10px;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    border: none;
    margin-right: 16px;
}   

.footer__submit{
    margin-left: auto;
    display: inline-block;
    height: 50px;
    padding: 0 20px ;
    background-color: #2091F9;
    border: none;
    font-size: 1rem;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}

.footer__copy{
    --padding-container: 30px 0;
    text-align: center;
    color: #fff;
}

.footer__copyright{
    font-weight: 300;
}

.footer__icons{
    margin-bottom: 10px;
}

.footer__img{
    width: 30px;
}

/* Media queries */
@media (max-width:1000px){
    .mapa{
        width: 80%;
    }
}

@media (max-width:870px){
    .nav_container{
        padding: 25px 0px;
        height: 70px;
    }
    nav__link--menu
    .title__card{
        font-size: 1.6rem;
    }
    .box1>p{
        line-height:1.5;
        font-size: 1.2em;
    }
}

@media (max-width:800px){
    .nav_container{
        padding: 15px 0px;
    }
    .nav__menu{
        display: block;
        padding-right: 20px;
    }
    .nav__link--menu{
        gap: 0em;
        padding: 0px 0px 20px 0px;
        position: fixed;
        background-color: rgba(37, 22, 84, 0.956);
        top: 0;
        left: -290px;
        height: 100%;
        width: 260px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        z-index: 6;
        opacity: 1;
        box-shadow: 8px 0px 30px rgb(17, 17, 49);
        transition: transform 600ms;
        transition-delay: ease-out;
    }
    .nav__link{
        align-items:flex-start;
    }
    .nav_container {
        z-index: 6;
    }
    .nav__items:hover{
        background-color: rgba(24, 11, 59, 0.981);
        box-shadow: 0px 8px 20px rgb(17, 17, 49);
    }
    .nav__links,.nav__menu{
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    .icono{
        display: block;
        padding-right: 20px;
    }
    li{
        padding: 30px 10% 30px 10px;
    }
    .nav__links{
        margin-left: 30px;
        display: flex;
        align-items: center;
    }
    .nav__links_opuesto{
        font-size: 1.2em;
        margin-left: 30px;
        display: flex;
        align-items: center;
    }

    .nav__link--show{
        --show: block;
        opacity:1 ;
        pointer-events: unset;
    }

    .nav__close{
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }

    .about__main{
        gap: 2em;
    }

    .about__icons:last-of-type{
        grid-column: 1/-1;
    }

    .knowledge__container{
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        gap: 3em;
        text-align: center;
    }

    .knowledge__picture{
        grid-row: 1/2;
        justify-self: center;
    }

    .testimony__container{
        grid-template-columns: 30px 1fr 30px;
    }

    .testimony__body{
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        gap: 3em;
        justify-items:center ;
    }


    .testimony__img{
        width: 200px;
        height: 200px;
        
    }

    .questions__copy{
        width: 100%;
    }

    .footer__container{
        flex-wrap: wrap;
    }

    .nav--footer{
        width: 100%;
        justify-items: center;
    }

    .nav__link--footer{
        width: 100%;
        justify-content: space-evenly;
        margin: 0;
    }

    .footer__form{
        width: 100%;
        justify-content: space-evenly;
    }

    .footer__input{
        flex: 1;
    }

}
/*disminuir el line-height*/


@media (max-width:700px){
    .hero__title{
        font-size: 2rem;
    }
    .hero__container{
        padding: 30px 15px;
    }
}
@media (max-width:600px){
    .nav__links{
        font-size: 1.2em;
    }
    .box1>p{
        font-size: 1.05em;
        line-height:1.6;
    }
    .title__card{
        font-size: 1.3em;
    }
    .hero__paragraph{
        font-size: 1rem;
    }

    .subtitle{
        font-size: 2.8rem;
    }

    .price__element{
        width: 90%;
    }

    .price__element--best{
        width: 90%;
        /* padding: 40px; */
    }

    .price__price{
        font-size: 2rem;
    }

    .testimony{
        --padding-container: 60px 0;
    }

    .testimony__container{
        grid-template-columns: 28px 1fr 28px;
        gap: .9em;
    }

    .testimony__arrow{
        width: 100%;
    }

    .testimony__course{
        margin-top: 15px;
    }

    .questions__title{
        font-size: 1rem;
    }

    .footer__title{
        justify-self: start;
        margin-bottom: 15px;
    }

    .nav--footer{
        padding-bottom: 60px;
    }

    .nav__link--footer{
        justify-content: space-between;
    }

    .footer__inputs{
        flex-wrap: wrap;
    }

    .footer__input{
        flex-basis: 100%;
        margin: 0;
        margin-bottom: 16px;
    }

    .footer__submit{
        margin-right: auto;
        margin-left: 0;
        
    }
}


@media (max-width:440px){
    .nav__links{
        text-decoration: solid;
    }
    .hero{
        grid-template-rows: 60px 1fr;
        height: 45vh;
    }
    .hero::before{
        height: 55vh;
    }
    .hero::before {
        background-image: linear-gradient(180deg, #6a4f4f8c 50%, #26242b61 100%), url('../img/instalaciones2.jpg');
    }
    
    .hero__title{
        font-size: 1.7rem;
    }

    .hero__container{
        padding: 30px 15px;
        margin: auto;
    }
    .hero__paragraph {
        display: none;
    }
}